In [1]:
#Looking at accuracy and recall to minimize our false negatives.

In [2]:
import pandas as pd
import matplotlib as plt
import seaborn as sns
%matplotlib inline
from sklearn.model_selection import train_test_split

In [3]:
data_targets= pd.read_csv('./data/target.csv')

In [4]:
data_targets.head()

      id    status_group
0  69572      functional
1   8776      functional
2  34310      functional
3  67743  non functional
4  19728      functional

In [5]:
data_features = pd.read_csv('./data/features.csv')

In [6]:
data_features

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,60739,10.0,2013-05-03,Germany Republi,1210,CES,37.169807,-3.253847,Area Three Namba 27,0,...,per bucket,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
59396,27263,4700.0,2011-05-07,Cefa-njombe,1212,Cefa,35.249991,-9.070629,Kwa Yahona Kuvala,0,...,annually,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe
59397,37057,0.0,2011-04-11,NaN,0,NaN,34.017087,-8.750434,Mashine,0,...,monthly,fluoride,fluoride,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
59398,31282,0.0,2011-03-08,Malec,0,Musa,35.861315,-6.378573,Mshoro,0,...,never pay,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
59399,26348,0.0,2011-03-23,World Bank,191,World,38.104048,-6.747464,Kwa Mzee Lugawa,0,...,on failure,salty,salty,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump

In [7]:
data_targets.head()

      id    status_group
0  69572      functional
1   8776      functional
2  34310      functional
3  67743  non functional
4  19728      functional

In [8]:
data_targets.shape

(59400, 2)

In [9]:
data_features.shape

(59400, 40)

In [10]:
df= data_features.merge(data_targets)

In [11]:
df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional

In [12]:
df['status_group'].value_counts()

functional                 32259
non functional             22824
functional needs repair     4317
Name: status_group, dtype: int64

In [13]:
df.isnull().sum()

id                           0
amount_tsh                   0
date_recorded                0
funder                    3635
gps_height                   0
installer                 3655
longitude                    0
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                 371
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3334
recorded_by                  0
scheme_management         3877
scheme_name              28166
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
status_group                 0
dtype: int64

In [14]:
df['num_private'].value_counts()

0      58643
6         81
1         73
5         46
8         46
       ...
180        1
213        1
23         1
55         1
94         1
Name: num_private, Length: 65, dtype: int64

In [15]:
##num private; will drop since no description and 99% of data = 0 (possibly missing data)

In [16]:
df.drop(columns=['num_private'],inplace=True)

In [17]:
df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,basin,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,Lake Nyasa,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,Lake Victoria,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,Pangani,...,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,Ruvuma / Southern Coast,...,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,Lake Victoria,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional

In [18]:
##potentially drop public meeting

In [19]:
df['public_meeting'].value_counts()

True     51011
False     5055
Name: public_meeting, dtype: int64

In [20]:
#assuming people recording data are recording true values so will drop row

In [21]:
df.drop(columns=['recorded_by'], inplace=True)

In [22]:
df.quantity.value_counts()

enough          33186
insufficient    15129
dry              6246
seasonal         4050
unknown           789
Name: quantity, dtype: int64

In [23]:
df.quantity_group.value_counts()

enough          33186
insufficient    15129
dry              6246
seasonal         4050
unknown           789
Name: quantity_group, dtype: int64

In [24]:
#columns represent same values, will drop quantity_group

In [25]:
df.drop(columns=['quantity_group'], inplace=True)

In [26]:
df.source.value_counts()

spring                  17021
shallow well            16824
machine dbh             11075
river                    9612
rainwater harvesting     2295
hand dtw                  874
lake                      765
dam                       656
other                     212
unknown                    66
Name: source, dtype: int64

In [27]:
df.source_type.value_counts()

spring                  17021
shallow well            16824
borehole                11949
river/lake              10377
rainwater harvesting     2295
dam                       656
other                     278
Name: source_type, dtype: int64

In [28]:
df.source_class.value_counts()

groundwater    45794
surface        13328
unknown          278
Name: source_class, dtype: int64

In [29]:
#dropping source_type since it contains same info as source and source is more robust

In [30]:
df.drop(columns=['source_type'], inplace=True)

In [31]:
df.waterpoint_type.value_counts()

communal standpipe             28522
hand pump                      17488
other                           6380
communal standpipe multiple     6103
improved spring                  784
cattle trough                    116
dam                                7
Name: waterpoint_type, dtype: int64

In [32]:
df.waterpoint_type_group.value_counts()

communal standpipe    34625
hand pump             17488
other                  6380
improved spring         784
cattle trough           116
dam                       7
Name: waterpoint_type_group, dtype: int64

In [33]:
#dropping waterpoint_type_group, duplicate info from waterpoint_type

In [34]:
df.drop(columns=['waterpoint_type_group'], inplace=True)

In [35]:
df.isna().sum()

id                           0
amount_tsh                   0
date_recorded                0
funder                    3635
gps_height                   0
installer                 3655
longitude                    0
latitude                     0
wpt_name                     0
basin                        0
subvillage                 371
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3334
scheme_management         3877
scheme_name              28166
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
source                       0
source_class                 0
waterpoint_type              0
status_group                 0
dtype: int64

In [36]:
df.funder.value_counts(dropna=False)

Government Of Tanzania    9084
NaN                       3635
Danida                    3114
Hesawa                    2202
Rwssp                     1374
                          ...
Medicine                     1
Makonder                     1
Tareto                       1
Hez                          1
Norad/government             1
Name: funder, Length: 1898, dtype: int64

In [37]:
df.funder.describe()

count                      55765
unique                      1897
top       Government Of Tanzania
freq                        9084
Name: funder, dtype: object

In [38]:
df.shape

(59400, 36)

In [39]:
3635/59400

0.0611952861952862

In [40]:
#nulls in 6% of our data for funder and installer and 2nd highest value, do not want to drop, will change nulls to value of "Unknown"

In [41]:
df.funder.fillna(value='Unknown', inplace=True)

In [42]:
df.funder.value_counts(dropna=False)

Government Of Tanzania    9084
Unknown                   3639
Danida                    3114
Hesawa                    2202
Rwssp                     1374
                          ...
National Rural (wb)          1
Mzee Smith                   1
Eater                        1
Jamal Abdallah               1
Taipo                        1
Name: funder, Length: 1897, dtype: int64

In [43]:
df.installer.fillna(value='Unknown', inplace=True)

In [44]:
df.isna().sum()

id                           0
amount_tsh                   0
date_recorded                0
funder                       0
gps_height                   0
installer                    0
longitude                    0
latitude                     0
wpt_name                     0
basin                        0
subvillage                 371
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3334
scheme_management         3877
scheme_name              28166
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
source                       0
source_class                 0
waterpoint_type              0
status_group                 0
dtype: int64

In [45]:
df.subvillage.value_counts()

Madukani           508
Shuleni            506
Majengo            502
Kati               373
Mtakuja            262
                  ...
Alara                1
Kipondoda B          1
Itunge               1
Kurusiru             1
Nyampemba Chuni      1
Name: subvillage, Length: 19287, dtype: int64

In [46]:
df.subvillage.describe()

count        59029
unique       19287
top       Madukani
freq           508
Name: subvillage, dtype: object

In [47]:
371/59400

0.0062457912457912455

In [48]:
#Since Nan values of subvillage are <1% of data, will drop rows

In [49]:
df.dropna(subset=['subvillage'], inplace=True)

In [50]:
df.shape

(59029, 36)

In [51]:
df.isna().sum()

id                           0
amount_tsh                   0
date_recorded                0
funder                       0
gps_height                   0
installer                    0
longitude                    0
latitude                     0
wpt_name                     0
basin                        0
subvillage                   0
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3333
scheme_management         3869
scheme_name              28157
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
source                       0
source_class                 0
waterpoint_type              0
status_group                 0
dtype: int64

In [52]:
df.public_meeting.value_counts()

True     50642
False     5054
Name: public_meeting, dtype: int64

In [53]:
df.public_meeting.fillna(value='Unknown', inplace=True)

In [54]:
df.scheme_management.value_counts()

VWC                 36437
WUG                  5206
Water authority      3147
WUA                  2883
Water Board          2747
Parastatal           1680
Private operator     1063
Company              1061
Other                 766
SWC                    97
Trust                  72
None                    1
Name: scheme_management, dtype: int64

In [55]:
df.scheme_name.value_counts()

K                                               682
None                                            644
Borehole                                        546
Chalinze wate                                   405
M                                               400
                                               ...
AIC                                               1
Mkola Water Supply                                1
hekule                                            1
Kazilamihunda sub gravity point source water      1
Chikombo water supply                             1
Name: scheme_name, Length: 2652, dtype: int64

In [56]:
#will drop scheme name, scheme management captures similar data more cleanly; 
#scheme name has large amount of NaNs as well

In [57]:
df.drop(columns=['scheme_name'], inplace=True)

In [58]:
df.scheme_management.fillna(value='Unknown', inplace=True)

In [59]:
df.permit.value_counts(dropna=False)

True     38793
False    17180
NaN       3056
Name: permit, dtype: int64

In [60]:
3056/38793

0.07877709896115279

In [61]:
#replacing NaNs with the mode (True)

In [62]:
df.permit.fillna(value=True, inplace=True)

In [63]:
df.permit.value_counts()

True     41849
False    17180
Name: permit, dtype: int64

In [64]:
df.isna().sum()

id                       0
amount_tsh               0
date_recorded            0
funder                   0
gps_height               0
installer                0
longitude                0
latitude                 0
wpt_name                 0
basin                    0
subvillage               0
region                   0
region_code              0
district_code            0
lga                      0
ward                     0
population               0
public_meeting           0
scheme_management        0
permit                   0
construction_year        0
extraction_type          0
extraction_type_group    0
extraction_type_class    0
management               0
management_group         0
payment                  0
payment_type             0
water_quality            0
quality_group            0
quantity                 0
source                   0
source_class             0
waterpoint_type          0
status_group             0
dtype: int64

In [65]:
#addressed all of our null values, will reformat necessary columns
#convert construction year to age 
#best variables to think about location

In [66]:
df.construction_year.value_counts()

0       20348
2010     2644
2008     2613
2009     2533
2000     2091
2007     1586
2006     1471
2003     1286
2011     1254
2004     1123
2012     1084
2002     1075
1978     1037
1995     1013
2005     1009
1999      978
1998      966
1990      954
1985      945
1980      811
1996      811
1984      779
1982      744
1994      738
1972      707
1974      676
1997      644
1992      640
1993      608
2001      539
1988      521
1983      488
1975      437
1986      434
1976      414
1970      411
1991      324
1989      316
1987      302
1981      238
1977      202
1979      192
1973      184
2013      176
1971      145
1960      102
1967       88
1963       85
1968       77
1969       59
1964       40
1962       30
1961       21
1965       19
1966       17
Name: construction_year, dtype: int64

In [67]:
df.construction_year.shape

(59029,)

In [68]:
20348/59029

0.34471192125904215

In [69]:
#Upon further exploration, we see 34% of our data is missing the year construction

In [70]:
df.construction_year.describe()

count    59029.000000
mean      1308.488048
std        949.095754
min          0.000000
25%          0.000000
50%       1986.000000
75%       2004.000000
max       2013.000000
Name: construction_year, dtype: float64

In [71]:
df_years = df.construction_year

In [72]:
df_years

0        1999
1        2010
2        2009
3        1986
4           0
         ...
59395    1999
59396    1996
59397       0
59398       0
59399    2002
Name: construction_year, Length: 59029, dtype: int64

In [73]:
df_years = df_years[df_years != 0]

In [74]:
df_years

0        1999
1        2010
2        2009
3        1986
5        2009
         ...
59391    1967
59394    2007
59395    1999
59396    1996
59399    2002
Name: construction_year, Length: 38681, dtype: int64

In [75]:
df_years.describe()

count    38681.000000
mean      1996.813448
std         12.472149
min       1960.000000
25%       1987.000000
50%       2000.000000
75%       2008.000000
max       2013.000000
Name: construction_year, dtype: float64

In [76]:
#Obtaining median value once we removed all of the 0s; we get a median of 2000. 
#We will replace our missing values with 2000 for construction year

In [77]:
df.construction_year.replace(to_replace=0, value=2000, inplace=True)

In [78]:
df.construction_year.value_counts()

2000    22439
2010     2644
2008     2613
2009     2533
2007     1586
2006     1471
2003     1286
2011     1254
2004     1123
2012     1084
2002     1075
1978     1037
1995     1013
2005     1009
1999      978
1998      966
1990      954
1985      945
1996      811
1980      811
1984      779
1982      744
1994      738
1972      707
1974      676
1997      644
1992      640
1993      608
2001      539
1988      521
1983      488
1975      437
1986      434
1976      414
1970      411
1991      324
1989      316
1987      302
1981      238
1977      202
1979      192
1973      184
2013      176
1971      145
1960      102
1967       88
1963       85
1968       77
1969       59
1964       40
1962       30
1961       21
1965       19
1966       17
Name: construction_year, dtype: int64

In [79]:
df['age'] = 2022 - df['construction_year']

In [80]:
df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,basin,...,payment,payment_type,water_quality,quality_group,quantity,source,source_class,waterpoint_type,status_group,age
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,Lake Nyasa,...,pay annually,annually,soft,good,enough,spring,groundwater,communal standpipe,functional,23
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,Lake Victoria,...,never pay,never pay,soft,good,insufficient,rainwater harvesting,surface,communal standpipe,functional,12
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,Pangani,...,pay per bucket,per bucket,soft,good,enough,dam,surface,communal standpipe multiple,functional,13
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,Ruvuma / Southern Coast,...,never pay,never pay,soft,good,dry,machine dbh,groundwater,communal standpipe multiple,non functional,36
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,Lake Victoria,...,never pay,never pay,soft,good,seasonal,rainwater harvesting,surface,communal standpipe,functional,22

In [81]:
#will drop construction year as we have converted that column to age

In [82]:
df.drop(columns=['construction_year'], inplace=True)

In [83]:
df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,basin,...,payment,payment_type,water_quality,quality_group,quantity,source,source_class,waterpoint_type,status_group,age
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,Lake Nyasa,...,pay annually,annually,soft,good,enough,spring,groundwater,communal standpipe,functional,23
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,Lake Victoria,...,never pay,never pay,soft,good,insufficient,rainwater harvesting,surface,communal standpipe,functional,12
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,Pangani,...,pay per bucket,per bucket,soft,good,enough,dam,surface,communal standpipe multiple,functional,13
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,Ruvuma / Southern Coast,...,never pay,never pay,soft,good,dry,machine dbh,groundwater,communal standpipe multiple,non functional,36
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,Lake Victoria,...,never pay,never pay,soft,good,seasonal,rainwater harvesting,surface,communal standpipe,functional,22

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59029 entries, 0 to 59399
Data columns (total 35 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     59029 non-null  int64
 1   amount_tsh             59029 non-null  float64
 2   date_recorded          59029 non-null  object
 3   funder                 59029 non-null  object
 4   gps_height             59029 non-null  int64
 5   installer              59029 non-null  object
 6   longitude              59029 non-null  float64
 7   latitude               59029 non-null  float64
 8   wpt_name               59029 non-null  object
 9   basin                  59029 non-null  object
 10  subvillage             59029 non-null  object
 11  region                 59029 non-null  object
 12  region_code            59029 non-null  int64
 13  district_code          59029 non-null  int64
 14  lga                    59029 non-null  object
 15  ward                   59029 non-null  object
 16  population             59029 non-null  int64
 17  public_meeting         59029 non-null  object
 18  scheme_management      59029 non-null  object
 19  permit                 59029 non-null  bool
 20  extraction_type        59029 non-null  object
 21  extraction_type_group  59029 non-null  object
 22  extraction_type_class  59029 non-null  object
 23  management             59029 non-null  object
 24  management_group       59029 non-null  object
 25  payment                59029 non-null  object
 26  payment_type           59029 non-null  object
 27  water_quality          59029 non-null  object
 28  quality_group          59029 non-null  object
 29  quantity               59029 non-null  object
 30  source                 59029 non-null  object
 31  source_class           59029 non-null  object
 32  waterpoint_type        59029 non-null  object
 33  status_group           59029 non-null  object
 34  age                    59029 non-null  int64
dtypes: bool(1), float64(3), int64(6), object(25)
memory usage: 15.8+ MB

In [85]:
#can drop ID as it contains no describing info of well

In [86]:
df.drop(columns=['id'], inplace=True)

In [87]:
df.date_recorded.value_counts()

2011-03-17    558
2011-03-15    546
2013-02-03    546
2011-03-14    504
2011-03-16    491
             ...
2011-09-14      1
2011-09-25      1
2012-01-25      1
2011-09-15      1
2004-04-05      1
Name: date_recorded, Length: 356, dtype: int64

In [88]:
#can drop date_recorded, captures no important info

In [89]:
df.drop(columns=['date_recorded'], inplace=True)

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59029 entries, 0 to 59399
Data columns (total 33 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   amount_tsh             59029 non-null  float64
 1   funder                 59029 non-null  object
 2   gps_height             59029 non-null  int64
 3   installer              59029 non-null  object
 4   longitude              59029 non-null  float64
 5   latitude               59029 non-null  float64
 6   wpt_name               59029 non-null  object
 7   basin                  59029 non-null  object
 8   subvillage             59029 non-null  object
 9   region                 59029 non-null  object
 10  region_code            59029 non-null  int64
 11  district_code          59029 non-null  int64
 12  lga                    59029 non-null  object
 13  ward                   59029 non-null  object
 14  population             59029 non-null  int64
 15  public_meeting         59029 non-null  object
 16  scheme_management      59029 non-null  object
 17  permit                 59029 non-null  bool
 18  extraction_type        59029 non-null  object
 19  extraction_type_group  59029 non-null  object
 20  extraction_type_class  59029 non-null  object
 21  management             59029 non-null  object
 22  management_group       59029 non-null  object
 23  payment                59029 non-null  object
 24  payment_type           59029 non-null  object
 25  water_quality          59029 non-null  object
 26  quality_group          59029 non-null  object
 27  quantity               59029 non-null  object
 28  source                 59029 non-null  object
 29  source_class           59029 non-null  object
 30  waterpoint_type        59029 non-null  object
 31  status_group           59029 non-null  object
 32  age                    59029 non-null  int64
dtypes: bool(1), float64(3), int64(5), object(24)
memory usage: 14.9+ MB

In [91]:
df.gps_height.value_counts()

 0       20077
-15         60
-16         55
-13         55
-20         52
         ...
 2285        1
 2424        1
 2552        1
 2413        1
 2385        1
Name: gps_height, Length: 2428, dtype: int64

In [92]:
df.longitude.value_counts()

0.000000     1812
32.919861       2
39.090880       2
39.101244       2
39.095087       2
             ...
37.371204       1
35.455622       1
34.628176       1
31.530352       1
32.971425       1
Name: longitude, Length: 57145, dtype: int64

In [93]:
df.latitude.value_counts()

-2.000000e-08    1812
-2.476680e+00       2
-2.480043e+00       2
-6.962475e+00       2
-2.494546e+00       2
                 ...
-5.435762e+00       1
-4.476671e+00       1
-5.726001e+00       1
-9.646831e+00       1
-2.598965e+00       1
Name: latitude, Length: 57146, dtype: int64

In [94]:
df.wpt_name.value_counts()

none                 3559
Shuleni              1714
Zahanati              811
Msikitini             533
Kanisani              313
                     ...
Azaeli Mbise            1
Kwa Wabintintambo       1
Kwakatomvu              1
Dp 17                   1
Msikikitini             1
Name: wpt_name, Length: 37231, dtype: int64

In [95]:
#over 37231 values, would not be feasible to OHE

In [96]:
df.region.value_counts()

Iringa           5294
Shinyanga        4982
Mbeya            4639
Kilimanjaro      4379
Morogoro         4006
Arusha           3350
Kagera           3316
Mwanza           3092
Kigoma           2816
Ruvuma           2640
Pwani            2635
Tanga            2547
Singida          2093
Mara             1969
Tabora           1959
Dodoma           1840
Rukwa            1808
Mtwara           1730
Manyara          1583
Lindi            1546
Dar es Salaam     805
Name: region, dtype: int64

In [97]:
df.region_code.value_counts()

11    5300
17    5011
12    4639
3     4379
5     4040
18    3324
19    3037
2     3024
16    2816
10    2640
4     2513
13    2093
14    1979
20    1969
1     1840
15    1808
6     1609
21    1583
80    1238
60    1025
90     917
7      805
99     423
9      390
24     326
8      300
40       1
Name: region_code, dtype: int64

In [98]:
#Since region_code 40 has only 1 value, we will drop that row since it will not be able to split

In [99]:
df = df[df.region_code != 40]

In [100]:
df.region_code.value_counts()

11    5300
17    5011
12    4639
3     4379
5     4040
18    3324
19    3037
2     3024
16    2816
10    2640
4     2513
13    2093
14    1979
20    1969
1     1840
15    1808
6     1609
21    1583
80    1238
60    1025
90     917
7      805
99     423
9      390
24     326
8      300
Name: region_code, dtype: int64

In [101]:
df.district_code.value_counts()

1     12193
2     11173
3      9637
4      8999
5      4356
6      4074
7      3343
8      1043
30      995
33      874
53      745
43      504
13      391
23      293
63      195
62      109
60       63
0        23
80       12
67        6
Name: district_code, dtype: int64

In [102]:
df.lga.value_counts()

Njombe          2503
Arusha Rural    1252
Moshi Rural     1251
Bariadi         1177
Rungwe          1106
                ...
Moshi Urban       79
Kigoma Urban      71
Arusha Urban      63
Lindi Urban       21
Nyamagana          1
Name: lga, Length: 124, dtype: int64

In [103]:
df.ward.value_counts()

Igosi              307
Imalinyi           252
Siha Kati          232
Mdandu             231
Nduruma            217
                  ...
Ikweha               1
Simbay               1
Mkumbi               1
Uwanja wa Ndege      1
Kinungu              1
Name: ward, Length: 2080, dtype: int64

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59028 entries, 0 to 59399
Data columns (total 33 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   amount_tsh             59028 non-null  float64
 1   funder                 59028 non-null  object
 2   gps_height             59028 non-null  int64
 3   installer              59028 non-null  object
 4   longitude              59028 non-null  float64
 5   latitude               59028 non-null  float64
 6   wpt_name               59028 non-null  object
 7   basin                  59028 non-null  object
 8   subvillage             59028 non-null  object
 9   region                 59028 non-null  object
 10  region_code            59028 non-null  int64
 11  district_code          59028 non-null  int64
 12  lga                    59028 non-null  object
 13  ward                   59028 non-null  object
 14  population             59028 non-null  int64
 15  public_meeting         59028 non-null  object
 16  scheme_management      59028 non-null  object
 17  permit                 59028 non-null  bool
 18  extraction_type        59028 non-null  object
 19  extraction_type_group  59028 non-null  object
 20  extraction_type_class  59028 non-null  object
 21  management             59028 non-null  object
 22  management_group       59028 non-null  object
 23  payment                59028 non-null  object
 24  payment_type           59028 non-null  object
 25  water_quality          59028 non-null  object
 26  quality_group          59028 non-null  object
 27  quantity               59028 non-null  object
 28  source                 59028 non-null  object
 29  source_class           59028 non-null  object
 30  waterpoint_type        59028 non-null  object
 31  status_group           59028 non-null  object
 32  age                    59028 non-null  int64
dtypes: bool(1), float64(3), int64(5), object(24)
memory usage: 14.9+ MB

In [105]:
df.payment.value_counts()

never pay                25245
pay per bucket            8767
pay monthly               8300
unknown                   8157
pay when scheme fails     3914
pay annually              3591
other                     1054
Name: payment, dtype: int64

In [106]:
df.payment_type.value_counts()

never pay     25245
per bucket     8767
monthly        8300
unknown        8157
on failure     3914
annually       3591
other          1054
Name: payment_type, dtype: int64

In [107]:
#capture exact same info,, will drop payment_type

In [108]:
df.drop(columns=['payment_type'], inplace=True)

In [109]:
#region and region code capture same information; will drop region since region_code is already numeric
#will also drop long and lat; capturing geographic info with region and district
#will drop ward and lga as it also applies to geographic location and has too many values to OHE

In [110]:
df.drop(columns=['region', 'longitude', 'latitude', 'ward', 'lga'], inplace=True)

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59028 entries, 0 to 59399
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   amount_tsh             59028 non-null  float64
 1   funder                 59028 non-null  object
 2   gps_height             59028 non-null  int64
 3   installer              59028 non-null  object
 4   wpt_name               59028 non-null  object
 5   basin                  59028 non-null  object
 6   subvillage             59028 non-null  object
 7   region_code            59028 non-null  int64
 8   district_code          59028 non-null  int64
 9   population             59028 non-null  int64
 10  public_meeting         59028 non-null  object
 11  scheme_management      59028 non-null  object
 12  permit                 59028 non-null  bool
 13  extraction_type        59028 non-null  object
 14  extraction_type_group  59028 non-null  object
 15  extraction_type_class  59028 non-null  object
 16  management             59028 non-null  object
 17  management_group       59028 non-null  object
 18  payment                59028 non-null  object
 19  water_quality          59028 non-null  object
 20  quality_group          59028 non-null  object
 21  quantity               59028 non-null  object
 22  source                 59028 non-null  object
 23  source_class           59028 non-null  object
 24  waterpoint_type        59028 non-null  object
 25  status_group           59028 non-null  object
 26  age                    59028 non-null  int64
dtypes: bool(1), float64(1), int64(5), object(20)
memory usage: 12.2+ MB

In [112]:
df.subvillage.value_counts()

Madukani           508
Shuleni            506
Majengo            502
Kati               373
Mtakuja            262
                  ...
Alara                1
Kipondoda B          1
Itunge               1
Kurusiru             1
Nyampemba Chuni      1
Name: subvillage, Length: 19287, dtype: int64

In [113]:
#will also drop subvillage, capturing locations in other variables

In [114]:
df.drop(columns=['subvillage'], inplace=True)

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59028 entries, 0 to 59399
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   amount_tsh             59028 non-null  float64
 1   funder                 59028 non-null  object
 2   gps_height             59028 non-null  int64
 3   installer              59028 non-null  object
 4   wpt_name               59028 non-null  object
 5   basin                  59028 non-null  object
 6   region_code            59028 non-null  int64
 7   district_code          59028 non-null  int64
 8   population             59028 non-null  int64
 9   public_meeting         59028 non-null  object
 10  scheme_management      59028 non-null  object
 11  permit                 59028 non-null  bool
 12  extraction_type        59028 non-null  object
 13  extraction_type_group  59028 non-null  object
 14  extraction_type_class  59028 non-null  object
 15  management             59028 non-null  object
 16  management_group       59028 non-null  object
 17  payment                59028 non-null  object
 18  water_quality          59028 non-null  object
 19  quality_group          59028 non-null  object
 20  quantity               59028 non-null  object
 21  source                 59028 non-null  object
 22  source_class           59028 non-null  object
 23  waterpoint_type        59028 non-null  object
 24  status_group           59028 non-null  object
 25  age                    59028 non-null  int64
dtypes: bool(1), float64(1), int64(5), object(19)
memory usage: 11.8+ MB

In [116]:
df.population.value_counts()

0       21020
1        7024
200      1940
150      1892
250      1681
        ...
3241        1
1960        1
1685        1
2248        1
1439        1
Name: population, Length: 1049, dtype: int64

In [117]:
df.shape

(59028, 26)

In [118]:
(21020)/59029

0.35609615612664963

In [119]:
(21020+7024)/59029

0.4750885158142608

In [120]:
df.population.describe()

count    59028.000000
mean       180.943146
std        472.713650
min          0.000000
25%          0.000000
50%         30.000000
75%        220.000000
max      30500.000000
Name: population, dtype: float64

In [121]:
#large proportion of 0s and 1s; will drop due to large proportions

In [122]:
df.drop(columns=['population'], inplace=True)

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59028 entries, 0 to 59399
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   amount_tsh             59028 non-null  float64
 1   funder                 59028 non-null  object
 2   gps_height             59028 non-null  int64
 3   installer              59028 non-null  object
 4   wpt_name               59028 non-null  object
 5   basin                  59028 non-null  object
 6   region_code            59028 non-null  int64
 7   district_code          59028 non-null  int64
 8   public_meeting         59028 non-null  object
 9   scheme_management      59028 non-null  object
 10  permit                 59028 non-null  bool
 11  extraction_type        59028 non-null  object
 12  extraction_type_group  59028 non-null  object
 13  extraction_type_class  59028 non-null  object
 14  management             59028 non-null  object
 15  management_group       59028 non-null  object
 16  payment                59028 non-null  object
 17  water_quality          59028 non-null  object
 18  quality_group          59028 non-null  object
 19  quantity               59028 non-null  object
 20  source                 59028 non-null  object
 21  source_class           59028 non-null  object
 22  waterpoint_type        59028 non-null  object
 23  status_group           59028 non-null  object
 24  age                    59028 non-null  int64
dtypes: bool(1), float64(1), int64(4), object(19)
memory usage: 11.3+ MB

In [124]:
df.basin.value_counts()

Lake Victoria              10238
Pangani                     8940
Rufiji                      7976
Internal                    7785
Lake Tanganyika             6432
Wami / Ruvu                 5625
Lake Nyasa                  5085
Ruvuma / Southern Coast     4493
Lake Rukwa                  2454
Name: basin, dtype: int64

In [125]:
df.extraction_type.value_counts()

gravity                      26646
nira/tanira                   8151
other                         6420
submersible                   4656
swn 80                        3670
mono                          2748
india mark ii                 2400
afridev                       1770
ksb                           1415
other - rope pump              451
other - swn 81                 229
windmill                       117
india mark iii                  98
cemo                            90
other - play pump               85
walimi                          48
climax                          32
other - mkulima/shinyanga        2
Name: extraction_type, dtype: int64

In [126]:
df.extraction_type_group.value_counts()

gravity            26646
nira/tanira         8151
other               6420
submersible         6071
swn 80              3670
mono                2748
india mark ii       2400
afridev             1770
rope pump            451
other handpump       364
other motorpump      122
wind-powered         117
india mark iii        98
Name: extraction_type_group, dtype: int64

In [127]:
df.extraction_type_class.value_counts()

gravity         26646
handpump        16453
other            6420
submersible      6071
motorpump        2870
rope pump         451
wind-powered      117
Name: extraction_type_class, dtype: int64

In [128]:
#will drop extraction_type and extraction_type_group because they capture same info as extraction_type_class

In [129]:
df.drop(columns=['extraction_type', 'extraction_type_group'], inplace=True)

In [130]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59028 entries, 0 to 59399
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   amount_tsh             59028 non-null  float64
 1   funder                 59028 non-null  object
 2   gps_height             59028 non-null  int64
 3   installer              59028 non-null  object
 4   wpt_name               59028 non-null  object
 5   basin                  59028 non-null  object
 6   region_code            59028 non-null  int64
 7   district_code          59028 non-null  int64
 8   public_meeting         59028 non-null  object
 9   scheme_management      59028 non-null  object
 10  permit                 59028 non-null  bool
 11  extraction_type_class  59028 non-null  object
 12  management             59028 non-null  object
 13  management_group       59028 non-null  object
 14  payment                59028 non-null  object
 15  water_quality          59028 non-null  object
 16  quality_group          59028 non-null  object
 17  quantity               59028 non-null  object
 18  source                 59028 non-null  object
 19  source_class           59028 non-null  object
 20  waterpoint_type        59028 non-null  object
 21  status_group           59028 non-null  object
 22  age                    59028 non-null  int64
dtypes: bool(1), float64(1), int64(4), object(17)
memory usage: 10.4+ MB

In [131]:
df.management.value_counts()

vwc                 40189
wug                  6515
water board          2933
wua                  2535
private operator     1931
parastatal           1768
water authority       895
other                 839
company               685
unknown               561
other - school         99
trust                  78
Name: management, dtype: int64

In [132]:
df.management_group.value_counts()

user-group    52172
commercial     3589
parastatal     1768
other           938
unknown         561
Name: management_group, dtype: int64

In [133]:
#will drop management_group since management captures same information, but is more robust

In [134]:
df.drop(columns=['management_group'], inplace=True)

In [135]:
df.water_quality.value_counts()

soft                  50666
salty                  4638
unknown                1875
milky                   804
coloured                490
salty abandoned         338
fluoride                200
fluoride abandoned       17
Name: water_quality, dtype: int64

In [136]:
df.quality_group.value_counts()

good        50666
salty        4976
unknown      1875
milky         804
colored       490
fluoride      217
Name: quality_group, dtype: int64

In [137]:
#will drop quality group since quality covers the same info

In [138]:
df.drop(columns=['quality_group'], inplace=True)

In [139]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59028 entries, 0 to 59399
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   amount_tsh             59028 non-null  float64
 1   funder                 59028 non-null  object
 2   gps_height             59028 non-null  int64
 3   installer              59028 non-null  object
 4   wpt_name               59028 non-null  object
 5   basin                  59028 non-null  object
 6   region_code            59028 non-null  int64
 7   district_code          59028 non-null  int64
 8   public_meeting         59028 non-null  object
 9   scheme_management      59028 non-null  object
 10  permit                 59028 non-null  bool
 11  extraction_type_class  59028 non-null  object
 12  management             59028 non-null  object
 13  payment                59028 non-null  object
 14  water_quality          59028 non-null  object
 15  quantity               59028 non-null  object
 16  source                 59028 non-null  object
 17  source_class           59028 non-null  object
 18  waterpoint_type        59028 non-null  object
 19  status_group           59028 non-null  object
 20  age                    59028 non-null  int64
dtypes: bool(1), float64(1), int64(4), object(15)
memory usage: 9.5+ MB

In [140]:
df.quantity.value_counts()

enough          33087
insufficient    15020
dry              6086
seasonal         4046
unknown           789
Name: quantity, dtype: int64

In [141]:
df.source.value_counts()

spring                  16886
shallow well            16817
machine dbh             10848
river                    9612
rainwater harvesting     2293
hand dtw                  874
lake                      764
dam                       656
other                     212
unknown                    66
Name: source, dtype: int64

In [142]:
df.source_class.value_counts()

groundwater    45425
surface        13325
unknown          278
Name: source_class, dtype: int64

In [143]:
#will drop source_class since source is more descriptive and contains same info

In [144]:
df.drop(columns=['source_class'], inplace=True)

In [145]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59028 entries, 0 to 59399
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   amount_tsh             59028 non-null  float64
 1   funder                 59028 non-null  object
 2   gps_height             59028 non-null  int64
 3   installer              59028 non-null  object
 4   wpt_name               59028 non-null  object
 5   basin                  59028 non-null  object
 6   region_code            59028 non-null  int64
 7   district_code          59028 non-null  int64
 8   public_meeting         59028 non-null  object
 9   scheme_management      59028 non-null  object
 10  permit                 59028 non-null  bool
 11  extraction_type_class  59028 non-null  object
 12  management             59028 non-null  object
 13  payment                59028 non-null  object
 14  water_quality          59028 non-null  object
 15  quantity               59028 non-null  object
 16  source                 59028 non-null  object
 17  waterpoint_type        59028 non-null  object
 18  status_group           59028 non-null  object
 19  age                    59028 non-null  int64
dtypes: bool(1), float64(1), int64(4), object(14)
memory usage: 9.1+ MB

In [146]:
df.status_group.value_counts()

functional                 32054
non functional             22658
functional needs repair     4316
Name: status_group, dtype: int64

In [147]:
df.head()

,amount_tsh,funder,gps_height,installer,wpt_name,basin,region_code,district_code,public_meeting,scheme_management,permit,extraction_type_class,management,payment,water_quality,quantity,source,waterpoint_type,status_group,age
0,6000.0,Roman,1390,Roman,none,Lake Nyasa,11,5,True,VWC,False,gravity,vwc,pay annually,soft,enough,spring,communal standpipe,functional,23
1,0.0,Grumeti,1399,GRUMETI,Zahanati,Lake Victoria,20,2,Unknown,Other,True,gravity,wug,never pay,soft,insufficient,rainwater harvesting,communal standpipe,functional,12
2,25.0,Lottery Club,686,World vision,Kwa Mahundi,Pangani,21,4,True,VWC,True,gravity,vwc,pay per bucket,soft,enough,dam,communal standpipe multiple,functional,13
3,0.0,Unicef,263,UNICEF,Zahanati Ya Nanyumbu,Ruvuma / Southern Coast,90,63,True,VWC,True,submersible,vwc,never pay,soft,dry,machine dbh,communal standpipe multiple,non functional,36
4,0.0,Action In A,0,Artisan,Shuleni,Lake Victoria,18,1,True,Unknown,True,gravity,other,never pay,soft,seasonal,rainwater harvesting,communal standpipe,functional,22

In [148]:
df.amount_tsh.value_counts()

0.0         41267
500.0        3102
50.0         2472
1000.0       1488
20.0         1463
            ...
8500.0          1
6300.0          1
220.0           1
138000.0        1
12.0            1
Name: amount_tsh, Length: 98, dtype: int64

In [149]:
df.amount_tsh.describe()

count     59028.000000
mean        319.652247
std        3006.898976
min           0.000000
25%           0.000000
50%           0.000000
75%          25.000000
max      350000.000000
Name: amount_tsh, dtype: float64

In [150]:
41268/59029

0.6991139948161074

In [151]:
df_funder = df.groupby('funder')

In [152]:
df_funder.describe()['amount_tsh']['count'].describe()

count    1894.000000
mean       31.165787
std       257.072702
min         1.000000
25%         1.000000
50%         1.000000
75%         7.000000
max      9014.000000
Name: count, dtype: float64

In [153]:
#We will look at the top 5 funders versus other funders due to the large amount 
#of funders who have only funded 1 well (we see our median is 1)
#we will wrap our Unknowns with our Others

In [154]:
#Will create a function to rename funder "Unknown/Other" if funder is not in list of 
#top 5 funders

In [155]:
df.funder.value_counts()[:50]

Government Of Tanzania            9014
Unknown                           3639
Danida                            3114
Hesawa                            2200
Rwssp                             1374
Kkkt                              1286
World Vision                      1246
World Bank                        1244
Unicef                            1057
Tasaf                              876
District Council                   843
Dhv                                829
Private Individual                 825
Dwsp                               811
0                                  777
Norad                              765
Germany Republi                    610
Tcrs                               602
Ministry Of Water                  590
Water                              510
Dwe                                484
Netherlands                        470
Hifab                              450
Adb                                447
Lga                                442
Amref                              425
Fini Water                         393
Oxfam                              359
Wateraid                           333
Rc Church                          321
Isf                                316
Rudep                              312
Mission                            301
Private                            294
Jaica                              280
Roman                              275
Rural Water Supply And Sanitat     270
Adra                               263
Ces(gmbh)                          260
Jica                               259
Shipo                              241
Wsdp                               234
Rc                                 230
Finw                               219
Dh                                 213
Ded                                198
Plan Int                           195
Kiliwater                          189
Dmdd                               186
Go                                 181
Name: funder, dtype: int64

In [156]:
#We see a "0" value, which we are assuming is the funder is unknown. Replacing 0 value with "Unknown".

In [157]:
df.funder.replace(to_replace='0', value='Unknown', inplace=True)

In [158]:
df.funder.shape

(59028,)

In [159]:
1000/59029

0.016940825695844416

In [160]:
9014/59029

0.15270460282234155

In [161]:
3114/59029

0.05275373121685951

In [162]:
#We will look at all funders with over 1% of our data (>= 590 wells); Will replace other values
#with "Other"

In [163]:
df.funder.value_counts()[:50]

Government Of Tanzania            9014
Unknown                           4416
Danida                            3114
Hesawa                            2200
Rwssp                             1374
Kkkt                              1286
World Vision                      1246
World Bank                        1244
Unicef                            1057
Tasaf                              876
District Council                   843
Dhv                                829
Private Individual                 825
Dwsp                               811
Norad                              765
Germany Republi                    610
Tcrs                               602
Ministry Of Water                  590
Water                              510
Dwe                                484
Netherlands                        470
Hifab                              450
Adb                                447
Lga                                442
Amref                              425
Fini Water                         393
Oxfam                              359
Wateraid                           333
Rc Church                          321
Isf                                316
Rudep                              312
Mission                            301
Private                            294
Jaica                              280
Roman                              275
Rural Water Supply And Sanitat     270
Adra                               263
Ces(gmbh)                          260
Jica                               259
Shipo                              241
Wsdp                               234
Rc                                 230
Finw                               219
Dh                                 213
Ded                                198
Plan Int                           195
Kiliwater                          189
Dmdd                               186
Go                                 181
Lawatefuka Water Supply            180
Name: funder, dtype: int64

In [164]:
#creating list of funders >= 590 wells; we are keeping unknown as it may
#be significant (may be underlying reason those funders are unknown)

In [165]:
top_funders = list(df.funder.value_counts()[:18].index)

In [166]:
top_funders

['Government Of Tanzania',
 'Unknown',
 'Danida',
 'Hesawa',
 'Rwssp',
 'Kkkt',
 'World Vision',
 'World Bank',
 'Unicef',
 'Tasaf',
 'District Council',
 'Dhv',
 'Private Individual',
 'Dwsp',
 'Norad',
 'Germany Republi',
 'Tcrs',
 'Ministry Of Water']

In [167]:
df.funder = df.funder.map(lambda x: x if x in top_funders else x.replace(x, "Other"))

In [168]:
df.funder.value_counts()

Other                     27326
Government Of Tanzania     9014
Unknown                    4416
Danida                     3114
Hesawa                     2200
Rwssp                      1374
Kkkt                       1286
World Vision               1246
World Bank                 1244
Unicef                     1057
Tasaf                       876
District Council            843
Dhv                         829
Private Individual          825
Dwsp                        811
Norad                       765
Germany Republi             610
Tcrs                        602
Ministry Of Water           590
Name: funder, dtype: int64

In [169]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59028 entries, 0 to 59399
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   amount_tsh             59028 non-null  float64
 1   funder                 59028 non-null  object
 2   gps_height             59028 non-null  int64
 3   installer              59028 non-null  object
 4   wpt_name               59028 non-null  object
 5   basin                  59028 non-null  object
 6   region_code            59028 non-null  int64
 7   district_code          59028 non-null  int64
 8   public_meeting         59028 non-null  object
 9   scheme_management      59028 non-null  object
 10  permit                 59028 non-null  bool
 11  extraction_type_class  59028 non-null  object
 12  management             59028 non-null  object
 13  payment                59028 non-null  object
 14  water_quality          59028 non-null  object
 15  quantity               59028 non-null  object
 16  source                 59028 non-null  object
 17  waterpoint_type        59028 non-null  object
 18  status_group           59028 non-null  object
 19  age                    59028 non-null  int64
dtypes: bool(1), float64(1), int64(4), object(14)
memory usage: 9.1+ MB

In [170]:
df.installer.value_counts()

DWE                           17361
Unknown                        3658
Government                     1825
RWE                            1205
DANIDA                         1050
                              ...
Water Hu                          1
Naishu construction co.ltd        1
Mashaka M                         1
Mwakabalula                       1
JAPAN                             1
Name: installer, Length: 2134, dtype: int64

In [171]:
df_installer = df.groupby('installer')

In [172]:
df_installer.describe()['amount_tsh']['count'].describe()

count     2134.000000
mean        27.660731
std        392.029718
min          1.000000
25%          1.000000
50%          1.000000
75%          6.000000
max      17361.000000
Name: count, dtype: float64

In [173]:
df.installer.value_counts()[:50]

DWE                           17361
Unknown                        3658
Government                     1825
RWE                            1205
DANIDA                         1050
KKKT                            898
Commu                           894
Hesawa                          840
0                               777
TCRS                            707
Central government              622
CES                             610
Community                       553
DANID                           552
District Council                551
HESAWA                          539
LGA                             408
World vision                    408
WEDECO                          397
TASAF                           396
District council                392
Gover                           352
AMREF                           329
TWESA                           316
WU                              301
Dmdd                            287
ACRA                            278
World Vision                    270
SEMA                            249
DW                              246
OXFAM                           234
Da                              224
Idara ya maji                   222
UNICEF                          222
Gove                            222
Sengerema Water Department      214
Kiliwater                       210
NORAD                           208
FinW                            208
DH                              202
Villagers                       199
DWSP                            192
Distri                          181
Lawatefuka water sup            180
Magadini-Makiwaru wa            175
RC                              174
FW                              173
KKKT _ Konde and DWE            166
Centr                           162
WVT                             158
Name: installer, dtype: int64

In [174]:
#creating list of installers >= 590 wells; we are keeping unknown as it may
#be significant (may be underlying reason those funders are unknown)

In [175]:
df.installer.replace(to_replace='0', value='Unknown', inplace=True)

In [176]:
df.installer.value_counts() [:15]

DWE                   17361
Unknown                4435
Government             1825
RWE                    1205
DANIDA                 1050
KKKT                    898
Commu                   894
Hesawa                  840
TCRS                    707
Central government      622
CES                     610
Community               553
DANID                   552
District Council        551
HESAWA                  539
Name: installer, dtype: int64

In [177]:
top_installers = list(df.installer.value_counts()[:11].index)

In [178]:
df.installer = df.installer.map(lambda x: x if x in top_installers else x.replace(x, "Other"))

In [179]:
df.installer.value_counts()

Other                 28581
DWE                   17361
Unknown                4435
Government             1825
RWE                    1205
DANIDA                 1050
KKKT                    898
Commu                   894
Hesawa                  840
TCRS                    707
Central government      622
CES                     610
Name: installer, dtype: int64

In [180]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59028 entries, 0 to 59399
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   amount_tsh             59028 non-null  float64
 1   funder                 59028 non-null  object
 2   gps_height             59028 non-null  int64
 3   installer              59028 non-null  object
 4   wpt_name               59028 non-null  object
 5   basin                  59028 non-null  object
 6   region_code            59028 non-null  int64
 7   district_code          59028 non-null  int64
 8   public_meeting         59028 non-null  object
 9   scheme_management      59028 non-null  object
 10  permit                 59028 non-null  bool
 11  extraction_type_class  59028 non-null  object
 12  management             59028 non-null  object
 13  payment                59028 non-null  object
 14  water_quality          59028 non-null  object
 15  quantity               59028 non-null  object
 16  source                 59028 non-null  object
 17  waterpoint_type        59028 non-null  object
 18  status_group           59028 non-null  object
 19  age                    59028 non-null  int64
dtypes: bool(1), float64(1), int64(4), object(14)
memory usage: 9.1+ MB

In [181]:
df.wpt_name.value_counts()

none                 3559
Shuleni              1714
Zahanati              811
Msikitini             533
Kanisani              313
                     ...
Kwa Wabintintambo       1
Kwakatomvu              1
Dp 17                   1
Kwa Sophia Rashid       1
Msikikitini             1
Name: wpt_name, Length: 37230, dtype: int64

In [182]:
#will drop wpt_name due to 'none' being mode and over 37000 different values

In [183]:
df.drop(columns=['wpt_name'], inplace=True)

In [184]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59028 entries, 0 to 59399
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   amount_tsh             59028 non-null  float64
 1   funder                 59028 non-null  object
 2   gps_height             59028 non-null  int64
 3   installer              59028 non-null  object
 4   basin                  59028 non-null  object
 5   region_code            59028 non-null  int64
 6   district_code          59028 non-null  int64
 7   public_meeting         59028 non-null  object
 8   scheme_management      59028 non-null  object
 9   permit                 59028 non-null  bool
 10  extraction_type_class  59028 non-null  object
 11  management             59028 non-null  object
 12  payment                59028 non-null  object
 13  water_quality          59028 non-null  object
 14  quantity               59028 non-null  object
 15  source                 59028 non-null  object
 16  waterpoint_type        59028 non-null  object
 17  status_group           59028 non-null  object
 18  age                    59028 non-null  int64
dtypes: bool(1), float64(1), int64(4), object(13)
memory usage: 8.6+ MB

In [185]:
df.age.value_counts()

22    22439
12     2643
14     2613
13     2533
15     1586
16     1471
19     1286
11     1254
18     1123
10     1084
20     1075
44     1037
27     1013
17     1009
23      978
24      966
32      954
37      945
42      811
26      811
38      779
40      744
28      738
50      707
48      676
25      644
30      640
29      608
21      539
34      521
39      488
47      437
36      434
46      414
52      411
31      324
33      316
35      302
41      238
45      202
43      192
49      184
9       176
51      145
62      102
55       88
59       85
54       77
53       59
58       40
60       30
61       21
57       19
56       17
Name: age, dtype: int64

In [186]:
df.to_csv('final_data.csv')

In [187]:
X = df.drop('status_group', axis=1)
y=df.status_group

In [188]:
train_X, test_X, train_y, test_y = train_test_split(X, y, random_state=42)

In [189]:
train_X

,amount_tsh,funder,gps_height,installer,basin,region_code,district_code,public_meeting,scheme_management,permit,extraction_type_class,management,payment,water_quality,quantity,source,waterpoint_type,age
34904,5.0,Germany Republi,1376,CES,Pangani,3,5,True,Water Board,True,gravity,water board,pay per bucket,soft,enough,spring,communal standpipe,16
4442,0.0,Other,947,Other,Ruvuma / Southern Coast,10,2,True,VWC,True,gravity,vwc,never pay,soft,enough,river,communal standpipe,35
11884,0.0,Other,227,Other,Ruvuma / Southern Coast,8,3,True,VWC,False,gravity,vwc,never pay,unknown,dry,rainwater harvesting,communal standpipe,20
38675,0.0,Hesawa,1152,DWE,Lake Victoria,19,1,True,Unknown,True,other,vwc,never pay,soft,insufficient,shallow well,other,14
34585,50.0,Government Of Tanzania,248,DWE,Wami / Ruvu,6,3,True,Water Board,False,gravity,water board,pay per bucket,salty,insufficient,dam,communal standpipe,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54693,0.0,Tcrs,1202,TCRS,Lake Tanganyika,15,1,True,Water authority,True,other,water authority,never pay,soft,enough,machine dbh,hand pump,37
38396,0.0,Other,1338,Other,Lake Tanganyika,16,1,True,VWC,False,handpump,vwc,unknown,soft,insufficient,shallow well,hand pump,23
864,0.0,Other,0,Other,Lake Victoria,19,7,True,VWC,False,handpump,vwc,pay annually,soft,seasonal,shallow well,hand pump,22
15897,0.0,Hesawa,0,Other,Lake Victoria,19,7,Unknown,VWC,True,handpump,vwc,never pay,unknown,unknown,machine dbh,hand pump,22
56779,0.0,Tasaf,446,Other,Ruvuma / Southern Coast,10,1,False,Parastatal,False,handpump,parastatal,never pay,soft,enough,machine dbh,hand pump,13

In [190]:
train_X.funder.value_counts()

Other                     20426
Government Of Tanzania     6783
Unknown                    3312
Danida                     2358
Hesawa                     1636
Rwssp                      1033
Kkkt                        959
World Vision                939
World Bank                  915
Unicef                      816
Tasaf                       665
District Council            639
Private Individual          623
Dhv                         620
Dwsp                        595
Norad                       588
Germany Republi             467
Tcrs                        462
Ministry Of Water           435
Name: funder, dtype: int64