## Final Project Submission

- Student Names: Jillian Clark, Zach Pollatsek
- Student Pace: Full-Time
- Scheduled Review Date/Time: July 15, 2022
- Instructors: William and Daniel

## Overview and Business Problem

Tanzania, as a developing country, struggles with providing clean water to its population of over 57,000,000. There are many water points already established in the country, but some are in need of repair while others have failed altogether.

We are a data science consulting company who has been hired by the Tanzanian Ministry of Water to create a model to help classify whether water pumps are functional, functional but in need of repairs, and non-functional. We have been hired to help improve maintenance operations minimze waste of the Ministry's resources and only send out repair teams to pumps that are potentially in need of repairs or non-functional. While we want to maximize accuracy, we also want to maximize recall to ensure the people of Tanzania have access to potable water and few pumps that are non-functional or in need of repairs are over looked.

## Data Understanding

The data is sourced from Taarifa and the Tanzanian Ministry of Water. Data utilized can be found here: https://www.drivendata.org/competitions/7/pump-it-up-data-mining-the-water-table/data/

For the purposes of our evaluation, we are utilizing the Training Set Labels and Training Set Values, which include data from 59,400 pumps. Our cleaned data contains information from 59,028 pumps. 

The following is a list of column names and descriptions:

* `amount_tsh` - Total static head (amount water available to waterpoint)
* `date_recorded` - The date the row was entered
* `funder` - Who funded the well
* `gps_height` - Altitude of the well
* `installer` - Organization that installed the well
* `longitude` - GPS coordinate
* `latitude` - GPS coordinate
* `wpt_name` - Name of the waterpoint if there is one
* `num_private` - 
* `basin` - Geographic water basin
* `subvillage` - Geographic location
* `region` - Geographic location
* `region_code` - Geographic location (coded)
* `district_code` - Geographic location (coded)
* `lga` - Geographic location
* `ward` - Geographic location
* `population` - Population around the well
* `public_meeting` - True/False
* `recorded_by` - Group entering this row of data
* `scheme_management` - Who operates the waterpoint
* `scheme_name` - Who operates the waterpoint
* `permit` - If the waterpoint is permitted
* `construction_year` - Year the waterpoint was constructed
* `extraction_type` - The kind of extraction the waterpoint uses
* `extraction_type_group` - The kind of extraction the waterpoint uses
* `extraction_type_class` - The kind of extraction the waterpoint uses
* `management` - How the waterpoint is managed
* `management_group` - How the waterpoint is managed
* `payment` - What the water costs
* `payment_type` - What the water costs
* `water_quality` - The quality of the water
* `quality_group` - The quality of the water
* `quantity` - The quantity of water
* `quantity_group` - The quantity of water
* `source` - The source of the water
* `source_type` - The source of the water
* `source_class` - The source of the water
* `waterpoint_type` - The kind of waterpoint
* `waterpoint_type_group` - The kind of waterpoint

## Data Preparation

In [1]:
#importing necessary imports to clean and prep data

In [2]:
import pandas as pd
import matplotlib as plt
import seaborn as sns
%matplotlib inline
from sklearn.model_selection import train_test_split

In [3]:
#looking at targets

In [4]:
data_targets= pd.read_csv('../data/target.csv')

In [5]:
data_targets

          id    status_group
0      69572      functional
1       8776      functional
2      34310      functional
3      67743  non functional
4      19728      functional
...      ...             ...
59395  60739      functional
59396  27263      functional
59397  37057      functional
59398  31282      functional
59399  26348      functional

[59400 rows x 2 columns]

In [6]:
#initial exploration of features

In [7]:
data_features = pd.read_csv('../data/features.csv')

In [8]:
data_features

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,60739,10.0,2013-05-03,Germany Republi,1210,CES,37.169807,-3.253847,Area Three Namba 27,0,...,per bucket,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
59396,27263,4700.0,2011-05-07,Cefa-njombe,1212,Cefa,35.249991,-9.070629,Kwa Yahona Kuvala,0,...,annually,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe
59397,37057,0.0,2011-04-11,NaN,0,NaN,34.017087,-8.750434,Mashine,0,...,monthly,fluoride,fluoride,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
59398,31282,0.0,2011-03-08,Malec,0,Musa,35.861315,-6.378573,Mshoro,0,...,never pay,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
59399,26348,0.0,2011-03-23,World Bank,191,World,38.104048,-6.747464,Kwa Mzee Lugawa,0,...,on failure,salty,salty,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump

In [9]:
#checking target and feature shapes to ensure match up

In [10]:
data_targets.shape

(59400, 2)

In [11]:
data_features.shape

(59400, 40)

After exploring the imported data and ensuring our targets and features data sets line up, we merged our data sets to create one dataframe.

In [12]:
df= data_features.merge(data_targets)

In [13]:
df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional

We checked the distribution of our status_group values. We see we have unbalanced targets and may need to address this in our models and data analysis.

In [14]:
df['status_group'].value_counts()

functional                 32259
non functional             22824
functional needs repair     4317
Name: status_group, dtype: int64

To start our data cleaning, we explored the num_private column to try to assess what information was being portaryed because there was no column description.

In [15]:
df['num_private'].value_counts()

0      58643
6         81
1         73
5         46
8         46
       ...
180        1
213        1
23         1
55         1
94         1
Name: num_private, Length: 65, dtype: int64

We saw over 99% of the data = 0. We presume 0 means the data was not available and choose to drop the column entirely.

In [16]:
df.drop(columns=['num_private'],inplace=True)

We will assume that whoever recorded data did so truthfully and this should not effect our target. We drop the column.

In [17]:
df.drop(columns=['recorded_by'], inplace=True)

Next we explore columns with similar column names and descriptions to see if there is any overlap in ifnormation.

In [18]:
#looking deeper into quantity vs. quantity_group

In [19]:
df.quantity.value_counts()

enough          33186
insufficient    15129
dry              6246
seasonal         4050
unknown           789
Name: quantity, dtype: int64

In [20]:
df.quantity_group.value_counts()

enough          33186
insufficient    15129
dry              6246
seasonal         4050
unknown           789
Name: quantity_group, dtype: int64

In [21]:
#columns represent same values, will drop quantity_group

In [22]:
df.drop(columns=['quantity_group'], inplace=True)

In [23]:
#looking deeper into source vs. sorce_type vs. source_class

In [24]:
df.source.value_counts()

spring                  17021
shallow well            16824
machine dbh             11075
river                    9612
rainwater harvesting     2295
hand dtw                  874
lake                      765
dam                       656
other                     212
unknown                    66
Name: source, dtype: int64

In [25]:
df.source_type.value_counts()

spring                  17021
shallow well            16824
borehole                11949
river/lake              10377
rainwater harvesting     2295
dam                       656
other                     278
Name: source_type, dtype: int64

In [26]:
df.source_class.value_counts()

groundwater    45794
surface        13328
unknown          278
Name: source_class, dtype: int64

We drop the source_type and source_class columns since they contain similar information to the source column, which is more robust.

In [27]:
df.drop(columns=['source_type', 'source_class'], inplace=True)

In [28]:
#looking deeper into waterpoint_type vs. wateropint_type_group

In [29]:
df.waterpoint_type.value_counts()

communal standpipe             28522
hand pump                      17488
other                           6380
communal standpipe multiple     6103
improved spring                  784
cattle trough                    116
dam                                7
Name: waterpoint_type, dtype: int64

In [30]:
df.waterpoint_type_group.value_counts()

communal standpipe    34625
hand pump             17488
other                  6380
improved spring         784
cattle trough           116
dam                       7
Name: waterpoint_type_group, dtype: int64

In [31]:
#dropping waterpoint_type_group, duplicate info from waterpoint_type

In [32]:
df.drop(columns=['waterpoint_type_group'], inplace=True)

Next, we explore null values and decide how to clean nulls.

In [33]:
df.isna().sum()

id                           0
amount_tsh                   0
date_recorded                0
funder                    3635
gps_height                   0
installer                 3655
longitude                    0
latitude                     0
wpt_name                     0
basin                        0
subvillage                 371
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3334
scheme_management         3877
scheme_name              28166
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
source                       0
waterpoint_type              0
status_group                 0
dtype: int64

In [34]:
#first looking into funder values

In [35]:
df.funder.value_counts(dropna=False)

Government Of Tanzania         9084
NaN                            3635
Danida                         3114
Hesawa                         2202
Rwssp                          1374
                               ...
John Skwese                       1
Abc-ihushi Development Cent       1
Simon Lusambi                     1
Japan Government                  1
Scholastica Pankrasi              1
Name: funder, Length: 1898, dtype: int64

In [36]:
df.funder.describe()

count                      55765
unique                      1897
top       Government Of Tanzania
freq                        9084
Name: funder, dtype: object

In [37]:
df.shape

(59400, 35)

In [38]:
3635/59400

0.0611952861952862

We find nulls make up 6% of our data for funder and is also the 2nd highestest value. Because there may be underlying reasons why the funder was not available, we do not want to lose this category. Therefore, we change the nulls to a value of "Unknown.

In [39]:
df.funder.fillna(value='Unknown', inplace=True)

In [40]:
df.funder.value_counts(dropna=False)

Government Of Tanzania         9084
Unknown                        3639
Danida                         3114
Hesawa                         2202
Rwssp                          1374
                               ...
John Skwese                       1
Abc-ihushi Development Cent       1
Simon Lusambi                     1
Japan Government                  1
Scholastica Pankrasi              1
Name: funder, Length: 1897, dtype: int64

In [41]:
df.installer.value_counts(dropna=False)

DWE                   17402
NaN                    3655
Government             1825
RWE                    1206
Commu                  1060
                      ...
Bonite Bottles Ltd        1
MAJ MUGUMU                1
Kalugendo                 1
Kambi Migoko              1
Morovian Church           1
Name: installer, Length: 2146, dtype: int64

We find nulls make up 6% of our data for installer and is also the 2nd highestest value. Because there may be underlying reasons why the installer was not available, we do not want to lose this category. Therefore, we change the nulls to a value of "Unknown.

In [42]:
df.installer.fillna(value='Unknown', inplace=True)

In [43]:
df.installer.value_counts(dropna=False)

DWE                        17402
Unknown                     3658
Government                  1825
RWE                         1206
Commu                       1060
                           ...
Holili water supply            1
HOTELS AND LOGGS TZ LTD        1
Nyanza road                    1
GLOBAL RESOURCE CO             1
Hamis Makombo                  1
Name: installer, Length: 2145, dtype: int64

In [44]:
df.isna().sum()

id                           0
amount_tsh                   0
date_recorded                0
funder                       0
gps_height                   0
installer                    0
longitude                    0
latitude                     0
wpt_name                     0
basin                        0
subvillage                 371
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3334
scheme_management         3877
scheme_name              28166
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
source                       0
waterpoint_type              0
status_group                 0
dtype: int64

In [45]:
#looking into value_counts of subvillage

In [46]:
df.subvillage.value_counts()

Madukani        508
Shuleni         506
Majengo         502
Kati            373
Mtakuja         262
               ...
Rupya             1
Urimi             1
Kanywangonge      1
Mburumi           1
Mw                1
Name: subvillage, Length: 19287, dtype: int64

In [47]:
371/59400

0.0062457912457912455

Since null values of subvillage are <1% of data, we drop rows where subvillage is null.

In [48]:
df.dropna(subset=['subvillage'], inplace=True)

In [49]:
df.shape

(59029, 35)

In [50]:
df.isna().sum()

id                           0
amount_tsh                   0
date_recorded                0
funder                       0
gps_height                   0
installer                    0
longitude                    0
latitude                     0
wpt_name                     0
basin                        0
subvillage                   0
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3333
scheme_management         3869
scheme_name              28157
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
source                       0
waterpoint_type              0
status_group                 0
dtype: int64

In [51]:
df.public_meeting.value_counts()

True     50642
False     5054
Name: public_meeting, dtype: int64

In [52]:
3333/59400

0.05611111111111111

Because there may be underlying reasons why this this information was unavailable and nulls make up over 5% of the data, we will convert nulls to "Unknown."

In [53]:
df.public_meeting.fillna(value='Unknown', inplace=True)

Looking deeply into scheme_management vs. scheme_name to analyze if the columns contain similar information and to address nulls.

In [54]:
df.scheme_management.value_counts(dropna=False)

VWC                 36437
WUG                  5206
NaN                  3869
Water authority      3147
WUA                  2883
Water Board          2747
Parastatal           1680
Private operator     1063
Company              1061
Other                 766
SWC                    97
Trust                  72
None                    1
Name: scheme_management, dtype: int64

In [55]:
df.scheme_name.value_counts(dropna=False)

NaN                     28157
K                         682
None                      644
Borehole                  546
Chalinze wate             405
                        ...
Bl Aziz water supply        1
Nameqhuwadiba               1
QUICK WINDS                 1
Pipe scheme Source          1
MANGISA                     1
Name: scheme_name, Length: 2653, dtype: int64

We drop scheme name since scheme management captures similar data more cleanly with fewer nulls. Since Nulls is our 3rd highest category, we want to capture that information and will replace our Nulls with "Unknown."

In [56]:
df.drop(columns=['scheme_name'], inplace=True)

In [57]:
df.scheme_management.fillna(value='Unknown', inplace=True)

In [58]:
df.permit.value_counts(dropna=False)

True     38793
False    17180
NaN       3056
Name: permit, dtype: int64

In [59]:
3056/59400

0.05144781144781145

Since our Nulls contain a small portion of our data and we have an overwhelming mode, we  replace our Null with our mode (True).

In [60]:
df.permit.fillna(value=True, inplace=True)

In [61]:
df.permit.value_counts()

True     41849
False    17180
Name: permit, dtype: int64

In [62]:
df.isna().sum()

id                       0
amount_tsh               0
date_recorded            0
funder                   0
gps_height               0
installer                0
longitude                0
latitude                 0
wpt_name                 0
basin                    0
subvillage               0
region                   0
region_code              0
district_code            0
lga                      0
ward                     0
population               0
public_meeting           0
scheme_management        0
permit                   0
construction_year        0
extraction_type          0
extraction_type_group    0
extraction_type_class    0
management               0
management_group         0
payment                  0
payment_type             0
water_quality            0
quality_group            0
quantity                 0
source                   0
waterpoint_type          0
status_group             0
dtype: int64

We have addressed all of our null values. We convert construction_year column to an age column to make the column more interpretable.

In [63]:
df.construction_year.value_counts()

0       20348
2010     2644
2008     2613
2009     2533
2000     2091
2007     1586
2006     1471
2003     1286
2011     1254
2004     1123
2012     1084
2002     1075
1978     1037
1995     1013
2005     1009
1999      978
1998      966
1990      954
1985      945
1980      811
1996      811
1984      779
1982      744
1994      738
1972      707
1974      676
1997      644
1992      640
1993      608
2001      539
1988      521
1983      488
1975      437
1986      434
1976      414
1970      411
1991      324
1989      316
1987      302
1981      238
1977      202
1979      192
1973      184
2013      176
1971      145
1960      102
1967       88
1963       85
1968       77
1969       59
1964       40
1962       30
1961       21
1965       19
1966       17
Name: construction_year, dtype: int64

In [64]:
df.construction_year.shape

(59029,)

In [65]:
20348/59029

0.34471192125904215

In [66]:
#Upon further exploration, we see 34% of our data is missing the year construction

In [67]:
df.construction_year.describe()

count    59029.000000
mean      1308.488048
std        949.095754
min          0.000000
25%          0.000000
50%       1986.000000
75%       2004.000000
max       2013.000000
Name: construction_year, dtype: float64

We want to obtain our median year once removing all the 0s.

In [68]:
df_years = df.construction_year

In [69]:
df_years

0        1999
1        2010
2        2009
3        1986
4           0
         ...
59395    1999
59396    1996
59397       0
59398       0
59399    2002
Name: construction_year, Length: 59029, dtype: int64

In [70]:
df_years = df_years[df_years != 0]

In [71]:
df_years

0        1999
1        2010
2        2009
3        1986
5        2009
         ...
59391    1967
59394    2007
59395    1999
59396    1996
59399    2002
Name: construction_year, Length: 38681, dtype: int64

In [72]:
df_years.describe()

count    38681.000000
mean      1996.813448
std         12.472149
min       1960.000000
25%       1987.000000
50%       2000.000000
75%       2008.000000
max       2013.000000
Name: construction_year, dtype: float64

Once we removed all of the 0s, we get a median of 2000. We replace our missing values with 2000 for construction year. While this replaces a huge amount of data, we believe age may have a significant impact on functionality of water pumps and do not want to competely remove this data.

In [73]:
df.construction_year.replace(to_replace=0, value=2000, inplace=True)

In [74]:
df.construction_year.value_counts()

2000    22439
2010     2644
2008     2613
2009     2533
2007     1586
2006     1471
2003     1286
2011     1254
2004     1123
2012     1084
2002     1075
1978     1037
1995     1013
2005     1009
1999      978
1998      966
1990      954
1985      945
1996      811
1980      811
1984      779
1982      744
1994      738
1972      707
1974      676
1997      644
1992      640
1993      608
2001      539
1988      521
1983      488
1975      437
1986      434
1976      414
1970      411
1991      324
1989      316
1987      302
1981      238
1977      202
1979      192
1973      184
2013      176
1971      145
1960      102
1967       88
1963       85
1968       77
1969       59
1964       40
1962       30
1961       21
1965       19
1966       17
Name: construction_year, dtype: int64

In [75]:
df['age'] = 2022 - df['construction_year']

In [76]:
df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,basin,...,management_group,payment,payment_type,water_quality,quality_group,quantity,source,waterpoint_type,status_group,age
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,Lake Nyasa,...,user-group,pay annually,annually,soft,good,enough,spring,communal standpipe,functional,23
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,Lake Victoria,...,user-group,never pay,never pay,soft,good,insufficient,rainwater harvesting,communal standpipe,functional,12
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,Pangani,...,user-group,pay per bucket,per bucket,soft,good,enough,dam,communal standpipe multiple,functional,13
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,Ruvuma / Southern Coast,...,user-group,never pay,never pay,soft,good,dry,machine dbh,communal standpipe multiple,non functional,36
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,Lake Victoria,...,other,never pay,never pay,soft,good,seasonal,rainwater harvesting,communal standpipe,functional,22

In [77]:
#will drop construction year as we have converted that column to age

In [78]:
df.drop(columns=['construction_year'], inplace=True)

In [79]:
df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,basin,...,management_group,payment,payment_type,water_quality,quality_group,quantity,source,waterpoint_type,status_group,age
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,Lake Nyasa,...,user-group,pay annually,annually,soft,good,enough,spring,communal standpipe,functional,23
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,Lake Victoria,...,user-group,never pay,never pay,soft,good,insufficient,rainwater harvesting,communal standpipe,functional,12
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,Pangani,...,user-group,pay per bucket,per bucket,soft,good,enough,dam,communal standpipe multiple,functional,13
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,Ruvuma / Southern Coast,...,user-group,never pay,never pay,soft,good,dry,machine dbh,communal standpipe multiple,non functional,36
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,Lake Victoria,...,other,never pay,never pay,soft,good,seasonal,rainwater harvesting,communal standpipe,functional,22

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59029 entries, 0 to 59399
Data columns (total 34 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     59029 non-null  int64
 1   amount_tsh             59029 non-null  float64
 2   date_recorded          59029 non-null  object
 3   funder                 59029 non-null  object
 4   gps_height             59029 non-null  int64
 5   installer              59029 non-null  object
 6   longitude              59029 non-null  float64
 7   latitude               59029 non-null  float64
 8   wpt_name               59029 non-null  object
 9   basin                  59029 non-null  object
 10  subvillage             59029 non-null  object
 11  region                 59029 non-null  object
 12  region_code            59029 non-null  int64
 13  district_code          59029 non-null  int64
 14  lga                    59029 non-null  object
 15  ward                   59029 non-null  object
 16  population             59029 non-null  int64
 17  public_meeting         59029 non-null  object
 18  scheme_management      59029 non-null  object
 19  permit                 59029 non-null  bool
 20  extraction_type        59029 non-null  object
 21  extraction_type_group  59029 non-null  object
 22  extraction_type_class  59029 non-null  object
 23  management             59029 non-null  object
 24  management_group       59029 non-null  object
 25  payment                59029 non-null  object
 26  payment_type           59029 non-null  object
 27  water_quality          59029 non-null  object
 28  quality_group          59029 non-null  object
 29  quantity               59029 non-null  object
 30  source                 59029 non-null  object
 31  waterpoint_type        59029 non-null  object
 32  status_group           59029 non-null  object
 33  age                    59029 non-null  int64
dtypes: bool(1), float64(3), int64(6), object(24)
memory usage: 15.4+ MB

We decide to drop ID column as it contains no pertinent info regardng the condition of the well and is simply an identifier.

In [81]:
df.drop(columns=['id'], inplace=True)

In [82]:
df.date_recorded.value_counts()

2011-03-17    558
2013-02-03    546
2011-03-15    546
2011-03-14    504
2011-03-16    491
             ...
2011-09-05      1
2011-09-06      1
2011-09-20      1
2011-09-18      1
2004-04-05      1
Name: date_recorded, Length: 356, dtype: int64

We decide to drop date_recorded as it also captures no important info for our analysis.

In [83]:
df.drop(columns=['date_recorded'], inplace=True)

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59029 entries, 0 to 59399
Data columns (total 32 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   amount_tsh             59029 non-null  float64
 1   funder                 59029 non-null  object
 2   gps_height             59029 non-null  int64
 3   installer              59029 non-null  object
 4   longitude              59029 non-null  float64
 5   latitude               59029 non-null  float64
 6   wpt_name               59029 non-null  object
 7   basin                  59029 non-null  object
 8   subvillage             59029 non-null  object
 9   region                 59029 non-null  object
 10  region_code            59029 non-null  int64
 11  district_code          59029 non-null  int64
 12  lga                    59029 non-null  object
 13  ward                   59029 non-null  object
 14  population             59029 non-null  int64
 15  public_meeting         59029 non-null  object
 16  scheme_management      59029 non-null  object
 17  permit                 59029 non-null  bool
 18  extraction_type        59029 non-null  object
 19  extraction_type_group  59029 non-null  object
 20  extraction_type_class  59029 non-null  object
 21  management             59029 non-null  object
 22  management_group       59029 non-null  object
 23  payment                59029 non-null  object
 24  payment_type           59029 non-null  object
 25  water_quality          59029 non-null  object
 26  quality_group          59029 non-null  object
 27  quantity               59029 non-null  object
 28  source                 59029 non-null  object
 29  waterpoint_type        59029 non-null  object
 30  status_group           59029 non-null  object
 31  age                    59029 non-null  int64
dtypes: bool(1), float64(3), int64(5), object(23)
memory usage: 14.5+ MB

Due to having many different variables regarding location, we want to narrow down our data and pick which variables will work best with our model.

In [85]:
df.gps_height.value_counts()

 0       20077
-15         60
-16         55
-13         55
-20         52
         ...
 2285        1
 2424        1
 2552        1
 2413        1
 2385        1
Name: gps_height, Length: 2428, dtype: int64

In [86]:
df.longitude.value_counts()

0.000000     1812
32.919861       2
39.090880       2
39.101244       2
39.095087       2
             ...
37.371204       1
35.455622       1
34.628176       1
31.530352       1
32.971425       1
Name: longitude, Length: 57145, dtype: int64

In [87]:
df.latitude.value_counts()

-2.000000e-08    1812
-2.476680e+00       2
-2.480043e+00       2
-6.962475e+00       2
-2.494546e+00       2
                 ...
-5.435762e+00       1
-4.476671e+00       1
-5.726001e+00       1
-9.646831e+00       1
-2.598965e+00       1
Name: latitude, Length: 57146, dtype: int64

In [88]:
df.wpt_name.value_counts()

none              3559
Shuleni           1714
Zahanati           811
Msikitini          533
Kanisani           313
                  ...
Kwa Mtera            1
Kwa Esta Idoga       1
Aron Nswila          1
Kwa Mutabuzi         1
Kwa Said Mauld       1
Name: wpt_name, Length: 37231, dtype: int64

In [89]:
#we see large lenghts/number of variables for these columns, would not be feasible to OHE

In [90]:
df.region.value_counts()

Iringa           5294
Shinyanga        4982
Mbeya            4639
Kilimanjaro      4379
Morogoro         4006
Arusha           3350
Kagera           3316
Mwanza           3092
Kigoma           2816
Ruvuma           2640
Pwani            2635
Tanga            2547
Singida          2093
Mara             1969
Tabora           1959
Dodoma           1840
Rukwa            1808
Mtwara           1730
Manyara          1583
Lindi            1546
Dar es Salaam     805
Name: region, dtype: int64

In [91]:
df.region_code.value_counts()

11    5300
17    5011
12    4639
3     4379
5     4040
18    3324
19    3037
2     3024
16    2816
10    2640
4     2513
13    2093
14    1979
20    1969
1     1840
15    1808
6     1609
21    1583
80    1238
60    1025
90     917
7      805
99     423
9      390
24     326
8      300
40       1
Name: region_code, dtype: int64

Since region_code 40 has only 1 value, we will drop that row since it will not be able to split for our train_test_split.

In [92]:
df = df[df.region_code != 40]

In [93]:
df.region_code.value_counts()

11    5300
17    5011
12    4639
3     4379
5     4040
18    3324
19    3037
2     3024
16    2816
10    2640
4     2513
13    2093
14    1979
20    1969
1     1840
15    1808
6     1609
21    1583
80    1238
60    1025
90     917
7      805
99     423
9      390
24     326
8      300
Name: region_code, dtype: int64

In [94]:
df.district_code.value_counts()

1     12193
2     11173
3      9637
4      8999
5      4356
6      4074
7      3343
8      1043
30      995
33      874
53      745
43      504
13      391
23      293
63      195
62      109
60       63
0        23
80       12
67        6
Name: district_code, dtype: int64

In [95]:
df.lga.value_counts()

Njombe          2503
Arusha Rural    1252
Moshi Rural     1251
Bariadi         1177
Rungwe          1106
                ...
Moshi Urban       79
Kigoma Urban      71
Arusha Urban      63
Lindi Urban       21
Nyamagana          1
Name: lga, Length: 124, dtype: int64

In [96]:
df.ward.value_counts()

Igosi               307
Imalinyi            252
Siha Kati           232
Mdandu              231
Nduruma             217
                   ...
Mkumbi                1
Mlimani               1
Mwanga Kaskazini      1
Linda                 1
Kihangimahuka         1
Name: ward, Length: 2080, dtype: int64

We see region and region code capture the same information. We drop region since region_code is already numeric for interpretable purposes. We also drop longitude, latitude, ward, and lag. We hope to capture geographic info with region and district and the other columns have too many values to One Hot Encode.

In [97]:
df.drop(columns=['region', 'longitude', 'latitude', 'ward', 'lga'], inplace=True)

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59028 entries, 0 to 59399
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   amount_tsh             59028 non-null  float64
 1   funder                 59028 non-null  object
 2   gps_height             59028 non-null  int64
 3   installer              59028 non-null  object
 4   wpt_name               59028 non-null  object
 5   basin                  59028 non-null  object
 6   subvillage             59028 non-null  object
 7   region_code            59028 non-null  int64
 8   district_code          59028 non-null  int64
 9   population             59028 non-null  int64
 10  public_meeting         59028 non-null  object
 11  scheme_management      59028 non-null  object
 12  permit                 59028 non-null  bool
 13  extraction_type        59028 non-null  object
 14  extraction_type_group  59028 non-null  object
 15  extraction_type_class  59028 non-null  object
 16  management             59028 non-null  object
 17  management_group       59028 non-null  object
 18  payment                59028 non-null  object
 19  payment_type           59028 non-null  object
 20  water_quality          59028 non-null  object
 21  quality_group          59028 non-null  object
 22  quantity               59028 non-null  object
 23  source                 59028 non-null  object
 24  waterpoint_type        59028 non-null  object
 25  status_group           59028 non-null  object
 26  age                    59028 non-null  int64
dtypes: bool(1), float64(1), int64(5), object(20)
memory usage: 12.2+ MB

In [99]:
#Looking into differences between payment and payment_type

In [100]:
df.payment.value_counts()

never pay                25245
pay per bucket            8767
pay monthly               8300
unknown                   8157
pay when scheme fails     3914
pay annually              3591
other                     1054
Name: payment, dtype: int64

In [101]:
df.payment_type.value_counts()

never pay     25245
per bucket     8767
monthly        8300
unknown        8157
on failure     3914
annually       3591
other          1054
Name: payment_type, dtype: int64

In [102]:
#capture exact same info, will drop payment_type

In [103]:
df.drop(columns=['payment_type'], inplace=True)

In [104]:
df.subvillage.value_counts()

Madukani        508
Shuleni         506
Majengo         502
Kati            373
Mtakuja         262
               ...
Rupya             1
Urimi             1
Kanywangonge      1
Mburumi           1
Mw                1
Name: subvillage, Length: 19287, dtype: int64

In [105]:
#will also drop subvillage, capturing locations in other variables

In [106]:
df.drop(columns=['subvillage'], inplace=True)

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59028 entries, 0 to 59399
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   amount_tsh             59028 non-null  float64
 1   funder                 59028 non-null  object
 2   gps_height             59028 non-null  int64
 3   installer              59028 non-null  object
 4   wpt_name               59028 non-null  object
 5   basin                  59028 non-null  object
 6   region_code            59028 non-null  int64
 7   district_code          59028 non-null  int64
 8   population             59028 non-null  int64
 9   public_meeting         59028 non-null  object
 10  scheme_management      59028 non-null  object
 11  permit                 59028 non-null  bool
 12  extraction_type        59028 non-null  object
 13  extraction_type_group  59028 non-null  object
 14  extraction_type_class  59028 non-null  object
 15  management             59028 non-null  object
 16  management_group       59028 non-null  object
 17  payment                59028 non-null  object
 18  water_quality          59028 non-null  object
 19  quality_group          59028 non-null  object
 20  quantity               59028 non-null  object
 21  source                 59028 non-null  object
 22  waterpoint_type        59028 non-null  object
 23  status_group           59028 non-null  object
 24  age                    59028 non-null  int64
dtypes: bool(1), float64(1), int64(5), object(18)
memory usage: 11.3+ MB

In [108]:
df.population.value_counts()

0       21020
1        7024
200      1940
150      1892
250      1681
        ...
3241        1
1960        1
1685        1
2248        1
1439        1
Name: population, Length: 1049, dtype: int64

In [109]:
df.shape

(59028, 25)

In [110]:
(21020)/59029

0.35609615612664963

In [111]:
(21020+7024)/59029

0.4750885158142608

In [112]:
df.population.describe()

count    59028.000000
mean       180.943146
std        472.713650
min          0.000000
25%          0.000000
50%         30.000000
75%        220.000000
max      30500.000000
Name: population, dtype: float64

Looking deeper into the population column, we see a large proportion of 0s and 1s; we assume these values are missing information and drop the column to large proportion of missing info.

In [113]:
df.drop(columns=['population'], inplace=True)

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59028 entries, 0 to 59399
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   amount_tsh             59028 non-null  float64
 1   funder                 59028 non-null  object
 2   gps_height             59028 non-null  int64
 3   installer              59028 non-null  object
 4   wpt_name               59028 non-null  object
 5   basin                  59028 non-null  object
 6   region_code            59028 non-null  int64
 7   district_code          59028 non-null  int64
 8   public_meeting         59028 non-null  object
 9   scheme_management      59028 non-null  object
 10  permit                 59028 non-null  bool
 11  extraction_type        59028 non-null  object
 12  extraction_type_group  59028 non-null  object
 13  extraction_type_class  59028 non-null  object
 14  management             59028 non-null  object
 15  management_group       59028 non-null  object
 16  payment                59028 non-null  object
 17  water_quality          59028 non-null  object
 18  quality_group          59028 non-null  object
 19  quantity               59028 non-null  object
 20  source                 59028 non-null  object
 21  waterpoint_type        59028 non-null  object
 22  status_group           59028 non-null  object
 23  age                    59028 non-null  int64
dtypes: bool(1), float64(1), int64(4), object(18)
memory usage: 10.9+ MB

In [115]:
#Checking for unknown values

In [116]:
df.basin.value_counts()

Lake Victoria              10238
Pangani                     8940
Rufiji                      7976
Internal                    7785
Lake Tanganyika             6432
Wami / Ruvu                 5625
Lake Nyasa                  5085
Ruvuma / Southern Coast     4493
Lake Rukwa                  2454
Name: basin, dtype: int64

In [117]:
#Looking into differences between extraction_type, extraction_type_group 
#and extraction_type_class

In [118]:
df.extraction_type.value_counts()

gravity                      26646
nira/tanira                   8151
other                         6420
submersible                   4656
swn 80                        3670
mono                          2748
india mark ii                 2400
afridev                       1770
ksb                           1415
other - rope pump              451
other - swn 81                 229
windmill                       117
india mark iii                  98
cemo                            90
other - play pump               85
walimi                          48
climax                          32
other - mkulima/shinyanga        2
Name: extraction_type, dtype: int64

In [119]:
df.extraction_type_group.value_counts()

gravity            26646
nira/tanira         8151
other               6420
submersible         6071
swn 80              3670
mono                2748
india mark ii       2400
afridev             1770
rope pump            451
other handpump       364
other motorpump      122
wind-powered         117
india mark iii        98
Name: extraction_type_group, dtype: int64

In [120]:
df.extraction_type_class.value_counts()

gravity         26646
handpump        16453
other            6420
submersible      6071
motorpump        2870
rope pump         451
wind-powered      117
Name: extraction_type_class, dtype: int64

We drop extraction_type and extraction_type_group because they capture same info as extraction_type_class and extraction_type_class contains more readable information.

In [121]:
df.drop(columns=['extraction_type', 'extraction_type_group'], inplace=True)

In [122]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59028 entries, 0 to 59399
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   amount_tsh             59028 non-null  float64
 1   funder                 59028 non-null  object
 2   gps_height             59028 non-null  int64
 3   installer              59028 non-null  object
 4   wpt_name               59028 non-null  object
 5   basin                  59028 non-null  object
 6   region_code            59028 non-null  int64
 7   district_code          59028 non-null  int64
 8   public_meeting         59028 non-null  object
 9   scheme_management      59028 non-null  object
 10  permit                 59028 non-null  bool
 11  extraction_type_class  59028 non-null  object
 12  management             59028 non-null  object
 13  management_group       59028 non-null  object
 14  payment                59028 non-null  object
 15  water_quality          59028 non-null  object
 16  quality_group          59028 non-null  object
 17  quantity               59028 non-null  object
 18  source                 59028 non-null  object
 19  waterpoint_type        59028 non-null  object
 20  status_group           59028 non-null  object
 21  age                    59028 non-null  int64
dtypes: bool(1), float64(1), int64(4), object(16)
memory usage: 10.0+ MB

In [123]:
#Looking into differences between management and management_group

In [124]:
df.management.value_counts()

vwc                 40189
wug                  6515
water board          2933
wua                  2535
private operator     1931
parastatal           1768
water authority       895
other                 839
company               685
unknown               561
other - school         99
trust                  78
Name: management, dtype: int64

In [125]:
df.management_group.value_counts()

user-group    52172
commercial     3589
parastatal     1768
other           938
unknown         561
Name: management_group, dtype: int64

In [126]:
#will drop management_group since management captures same information, but is more robust

In [127]:
df.drop(columns=['management_group'], inplace=True)

In [128]:
#Looking into differences between quality and water_quality

In [129]:
df.water_quality.value_counts()

soft                  50666
salty                  4638
unknown                1875
milky                   804
coloured                490
salty abandoned         338
fluoride                200
fluoride abandoned       17
Name: water_quality, dtype: int64

In [130]:
df.quality_group.value_counts()

good        50666
salty        4976
unknown      1875
milky         804
colored       490
fluoride      217
Name: quality_group, dtype: int64

In [131]:
#will drop quality group since quality covers the same info

In [132]:
df.drop(columns=['quality_group'], inplace=True)

In [133]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59028 entries, 0 to 59399
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   amount_tsh             59028 non-null  float64
 1   funder                 59028 non-null  object
 2   gps_height             59028 non-null  int64
 3   installer              59028 non-null  object
 4   wpt_name               59028 non-null  object
 5   basin                  59028 non-null  object
 6   region_code            59028 non-null  int64
 7   district_code          59028 non-null  int64
 8   public_meeting         59028 non-null  object
 9   scheme_management      59028 non-null  object
 10  permit                 59028 non-null  bool
 11  extraction_type_class  59028 non-null  object
 12  management             59028 non-null  object
 13  payment                59028 non-null  object
 14  water_quality          59028 non-null  object
 15  quantity               59028 non-null  object
 16  source                 59028 non-null  object
 17  waterpoint_type        59028 non-null  object
 18  status_group           59028 non-null  object
 19  age                    59028 non-null  int64
dtypes: bool(1), float64(1), int64(4), object(14)
memory usage: 9.1+ MB

In [134]:
#Checking source values for any unknowns

In [135]:
df.source.value_counts()

spring                  16886
shallow well            16817
machine dbh             10848
river                    9612
rainwater harvesting     2293
hand dtw                  874
lake                      764
dam                       656
other                     212
unknown                    66
Name: source, dtype: int64

In [136]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59028 entries, 0 to 59399
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   amount_tsh             59028 non-null  float64
 1   funder                 59028 non-null  object
 2   gps_height             59028 non-null  int64
 3   installer              59028 non-null  object
 4   wpt_name               59028 non-null  object
 5   basin                  59028 non-null  object
 6   region_code            59028 non-null  int64
 7   district_code          59028 non-null  int64
 8   public_meeting         59028 non-null  object
 9   scheme_management      59028 non-null  object
 10  permit                 59028 non-null  bool
 11  extraction_type_class  59028 non-null  object
 12  management             59028 non-null  object
 13  payment                59028 non-null  object
 14  water_quality          59028 non-null  object
 15  quantity               59028 non-null  object
 16  source                 59028 non-null  object
 17  waterpoint_type        59028 non-null  object
 18  status_group           59028 non-null  object
 19  age                    59028 non-null  int64
dtypes: bool(1), float64(1), int64(4), object(14)
memory usage: 9.1+ MB

In [137]:
df.status_group.value_counts()

functional                 32054
non functional             22658
functional needs repair     4316
Name: status_group, dtype: int64

In [138]:
df.head()

,amount_tsh,funder,gps_height,installer,wpt_name,basin,region_code,district_code,public_meeting,scheme_management,permit,extraction_type_class,management,payment,water_quality,quantity,source,waterpoint_type,status_group,age
0,6000.0,Roman,1390,Roman,none,Lake Nyasa,11,5,True,VWC,False,gravity,vwc,pay annually,soft,enough,spring,communal standpipe,functional,23
1,0.0,Grumeti,1399,GRUMETI,Zahanati,Lake Victoria,20,2,Unknown,Other,True,gravity,wug,never pay,soft,insufficient,rainwater harvesting,communal standpipe,functional,12
2,25.0,Lottery Club,686,World vision,Kwa Mahundi,Pangani,21,4,True,VWC,True,gravity,vwc,pay per bucket,soft,enough,dam,communal standpipe multiple,functional,13
3,0.0,Unicef,263,UNICEF,Zahanati Ya Nanyumbu,Ruvuma / Southern Coast,90,63,True,VWC,True,submersible,vwc,never pay,soft,dry,machine dbh,communal standpipe multiple,non functional,36
4,0.0,Action In A,0,Artisan,Shuleni,Lake Victoria,18,1,True,Unknown,True,gravity,other,never pay,soft,seasonal,rainwater harvesting,communal standpipe,functional,22

In [139]:
#looking at vaulues for amount_tsh

In [140]:
df.amount_tsh.value_counts()

0.0         41267
500.0        3102
50.0         2472
1000.0       1488
20.0         1463
            ...
8500.0          1
6300.0          1
220.0           1
138000.0        1
12.0            1
Name: amount_tsh, Length: 98, dtype: int64

Since some of our columns have many different values, we decide how to scale our values for certain columns.

In [141]:
df.funder.value_counts()[:50]

Government Of Tanzania            9014
Unknown                           3639
Danida                            3114
Hesawa                            2200
Rwssp                             1374
Kkkt                              1286
World Vision                      1246
World Bank                        1244
Unicef                            1057
Tasaf                              876
District Council                   843
Dhv                                829
Private Individual                 825
Dwsp                               811
0                                  777
Norad                              765
Germany Republi                    610
Tcrs                               602
Ministry Of Water                  590
Water                              510
Dwe                                484
Netherlands                        470
Hifab                              450
Adb                                447
Lga                                442
Amref                              425
Fini Water                         393
Oxfam                              359
Wateraid                           333
Rc Church                          321
Isf                                316
Rudep                              312
Mission                            301
Private                            294
Jaica                              280
Roman                              275
Rural Water Supply And Sanitat     270
Adra                               263
Ces(gmbh)                          260
Jica                               259
Shipo                              241
Wsdp                               234
Rc                                 230
Finw                               219
Dh                                 213
Ded                                198
Plan Int                           195
Kiliwater                          189
Dmdd                               186
Go                                 181
Name: funder, dtype: int64

We see a "0" value, which we are assuming is the funder is unknown. Replacing 0 value with "Unknown".

In [142]:
df.funder.replace(to_replace='0', value='Unknown', inplace=True)

In [143]:
df.funder.shape

(59028,)

We will look at all funders with over 1% of our inital data (>= 590 wells); Will replace other values with "Other"

In [144]:
df.funder.value_counts()[:50]

Government Of Tanzania            9014
Unknown                           4416
Danida                            3114
Hesawa                            2200
Rwssp                             1374
Kkkt                              1286
World Vision                      1246
World Bank                        1244
Unicef                            1057
Tasaf                              876
District Council                   843
Dhv                                829
Private Individual                 825
Dwsp                               811
Norad                              765
Germany Republi                    610
Tcrs                               602
Ministry Of Water                  590
Water                              510
Dwe                                484
Netherlands                        470
Hifab                              450
Adb                                447
Lga                                442
Amref                              425
Fini Water                         393
Oxfam                              359
Wateraid                           333
Rc Church                          321
Isf                                316
Rudep                              312
Mission                            301
Private                            294
Jaica                              280
Roman                              275
Rural Water Supply And Sanitat     270
Adra                               263
Ces(gmbh)                          260
Jica                               259
Shipo                              241
Wsdp                               234
Rc                                 230
Finw                               219
Dh                                 213
Ded                                198
Plan Int                           195
Kiliwater                          189
Dmdd                               186
Go                                 181
Lawatefuka Water Supply            180
Name: funder, dtype: int64

In [145]:
#creating list of funders >= 590 wells; we are keeping unknown as it may
#be significant (may be underlying reason those funders are unknown)

In [146]:
top_funders = list(df.funder.value_counts()[:18].index)

In [147]:
top_funders

['Government Of Tanzania',
 'Unknown',
 'Danida',
 'Hesawa',
 'Rwssp',
 'Kkkt',
 'World Vision',
 'World Bank',
 'Unicef',
 'Tasaf',
 'District Council',
 'Dhv',
 'Private Individual',
 'Dwsp',
 'Norad',
 'Germany Republi',
 'Tcrs',
 'Ministry Of Water']

In [148]:
df.funder = df.funder.map(lambda x: x if x in top_funders else x.replace(x, "Other"))

In [149]:
df.funder.value_counts()

Other                     27326
Government Of Tanzania     9014
Unknown                    4416
Danida                     3114
Hesawa                     2200
Rwssp                      1374
Kkkt                       1286
World Vision               1246
World Bank                 1244
Unicef                     1057
Tasaf                       876
District Council            843
Dhv                         829
Private Individual          825
Dwsp                        811
Norad                       765
Germany Republi             610
Tcrs                        602
Ministry Of Water           590
Name: funder, dtype: int64

In [150]:
df.installer.value_counts()

DWE                        17361
Unknown                     3658
Government                  1825
RWE                         1205
DANIDA                      1050
                           ...
HOTELS AND LOGGS TZ LTD        1
Nyanza road                    1
GLOBAL RESOURCE CO             1
RWET/WESA                      1
Hamis Makombo                  1
Name: installer, Length: 2134, dtype: int64

We will look at all funders with over 1% of our inital data (>= 590 wells); Will replace other values with "Other"

In [151]:
df.installer.value_counts()[:50]

DWE                           17361
Unknown                        3658
Government                     1825
RWE                            1205
DANIDA                         1050
KKKT                            898
Commu                           894
Hesawa                          840
0                               777
TCRS                            707
Central government              622
CES                             610
Community                       553
DANID                           552
District Council                551
HESAWA                          539
World vision                    408
LGA                             408
WEDECO                          397
TASAF                           396
District council                392
Gover                           352
AMREF                           329
TWESA                           316
WU                              301
Dmdd                            287
ACRA                            278
World Vision                    270
SEMA                            249
DW                              246
OXFAM                           234
Da                              224
UNICEF                          222
Idara ya maji                   222
Gove                            222
Sengerema Water Department      214
Kiliwater                       210
NORAD                           208
FinW                            208
DH                              202
Villagers                       199
DWSP                            192
Distri                          181
Lawatefuka water sup            180
Magadini-Makiwaru wa            175
RC                              174
FW                              173
KKKT _ Konde and DWE            166
Centr                           162
WVT                             158
Name: installer, dtype: int64

In [152]:
#creating list of installers >= 590 wells; we are keeping unknown as it may
#be significant (may be underlying reason those funders are unknown)

In [153]:
df.installer.replace(to_replace='0', value='Unknown', inplace=True)

In [154]:
df.installer.value_counts() [:15]

DWE                   17361
Unknown                4435
Government             1825
RWE                    1205
DANIDA                 1050
KKKT                    898
Commu                   894
Hesawa                  840
TCRS                    707
Central government      622
CES                     610
Community               553
DANID                   552
District Council        551
HESAWA                  539
Name: installer, dtype: int64

In [155]:
top_installers = list(df.installer.value_counts()[:11].index)

In [156]:
df.installer = df.installer.map(lambda x: x if x in top_installers else x.replace(x, "Other"))

In [157]:
df.installer.value_counts()

Other                 28581
DWE                   17361
Unknown                4435
Government             1825
RWE                    1205
DANIDA                 1050
KKKT                    898
Commu                   894
Hesawa                  840
TCRS                    707
Central government      622
CES                     610
Name: installer, dtype: int64

In [158]:
df.wpt_name.value_counts()

none              3559
Shuleni           1714
Zahanati           811
Msikitini          533
Kanisani           313
                  ...
Kwa Mtera            1
Kwa Esta Idoga       1
Aron Nswila          1
Kwa Mutabuzi         1
Kwa Said Mauld       1
Name: wpt_name, Length: 37230, dtype: int64

In [159]:
#will drop wpt_name due to 'none' being mode and over 37000 different values

In [160]:
df.drop(columns=['wpt_name'], inplace=True)

In [161]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59028 entries, 0 to 59399
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   amount_tsh             59028 non-null  float64
 1   funder                 59028 non-null  object
 2   gps_height             59028 non-null  int64
 3   installer              59028 non-null  object
 4   basin                  59028 non-null  object
 5   region_code            59028 non-null  int64
 6   district_code          59028 non-null  int64
 7   public_meeting         59028 non-null  object
 8   scheme_management      59028 non-null  object
 9   permit                 59028 non-null  bool
 10  extraction_type_class  59028 non-null  object
 11  management             59028 non-null  object
 12  payment                59028 non-null  object
 13  water_quality          59028 non-null  object
 14  quantity               59028 non-null  object
 15  source                 59028 non-null  object
 16  waterpoint_type        59028 non-null  object
 17  status_group           59028 non-null  object
 18  age                    59028 non-null  int64
dtypes: bool(1), float64(1), int64(4), object(13)
memory usage: 8.6+ MB

Saving our finalized clean data set as 'final_data.csv'.

In [162]:
df.to_csv('../data/final_data.csv')

Data analysis and modeling continues in notebook named 'modeling_notebook'.